In [1]:
import pandas as pd
import pymongo

df = pd.read_csv('balanced_dataset.csv')
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,160682,Male,45,1,11.0,0,> 2 Years,Yes,33927.0,12.0,191,1
1,8427,Female,24,1,36.0,0,< 1 Year,Yes,27977.0,152.0,65,1
2,107618,Male,71,1,46.0,0,> 2 Years,Yes,40188.0,124.0,237,1
3,5967,Male,44,1,45.0,1,1-2 Year,No,35773.0,26.0,158,0
4,274427,Female,41,1,28.0,1,1-2 Year,No,30540.0,124.0,122,0

In [2]:
# df should be converted into dict before we push it to mongodb

data = df.to_dict(orient='records')
#data

In [ ]:
DB_NAME = "BootCampCapstone"
COLLECTION_NAME = "vehicle-Data"
CONNECTION_URL = "mongodb+srv://islamnabics:<db_password>@cluster0.t332ana.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# above, either remove your credentials or delete the mongoDB resource bofore pushing it to github.

In [4]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [5]:
# Uploading data to MongoDB
rec = collection.insert_many(data)

In [6]:
print(type(rec))

<class 'pymongo.results.InsertManyResult'>